<div class="container">
<form action="/profile" method="POST">
    <div class="row">
        <div class="col-md-3">
            <h3>Settings</h3>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-dark" type="button" width="25" height="100" > Profile </button>
                <button onclick="location.href='/profileEditor'" class="btn btn-outline-dark">Account Settings</button>
                </div>
            </div>
        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                </div>
                <div class="col d-flex justify-content-center">
                    <img class="rounded-circle mt-5" src="/img/Daffy_Duck.svg.jpg" width="200" height="200">
                </div>
            </div>
        </div>
<div class="center">
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">Daffy Duck</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">daffyduck@gmail.com</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">(097) 234-5678</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">Looney Tune Land</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
 </div>
</div>